In [2]:
import os
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [4]:
import pandas

In [21]:
df1=pandas.read_csv('supermarkets.csv',header=0)
df1.set_index('ID')

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [16]:
df1.shape

(6, 7)

In [23]:
df2=pandas.read_json('supermarkets.json')
df2.set_index('ID')

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [6]:
df3=pandas.read_excel('supermarkets.xlsx') 
#default value of sheetname parameter is 0
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [10]:
df4=pandas.read_csv('supermarkets-commas.txt') 
#c is for character, not comma, which makes this syntax logical
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [18]:
df5=pandas.read_csv('supermarkets-semi-colons.txt', sep=';') 
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [22]:
#reading online files
df6=pandas.read_csv('http://pythonhow.com/supermarkets.csv')
df6.set_index('ID')

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [5]:
df7=pandas.read_json('http://pythonhow.com/supermarkets.json')
df7.set_index('ID')

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [21]:
df8=df7.set_index('Address')
df8

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [33]:
#labelbased addressing
df8.loc['735 Dolores St':'332 Hill St','Country':'ID']

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3

In [35]:
#labelbased addressing
df8.loc['332 Hill St','Country']

'USA'

In [39]:
#labelbased addressing
df8.loc[:,'Country']
#lack of semicolon raises the SyntaxError error

Address
3666 21st St       USA
735 Dolores St     USA
332 Hill St        USA
3995 23rd St       USA
1056 Sanchez St    USA
551 Alvarado St    USA
Name: Country, dtype: object

In [41]:
#labelbased addressing
#as a list
list(df8.loc[:,'Country'])

['USA', 'USA', 'USA', 'USA', 'USA', 'USA']

In [44]:
#indexbased addressing
#more common way to accessing data in DataFrame
df8.iloc[1:4,1:4]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3
3995 23rd St       USA         10   4

In [47]:
#indexbased addressing
df8.iloc[:,1:4]

                Country  Employees  ID
Address
3666 21st St        USA          8   1
735 Dolores St      USA         15   2
332 Hill St         USA         25   3
3995 23rd St        USA         10   4
1056 Sanchez St     USA         12   5
551 Alvarado St     USA         20   6

In [1]:
#combined indexing, not recommendet to use, but very convenient
df8.ix[3,'Name']

NameError: name 'df8' is not defined

In [24]:
df8.drop('332 Hill St',0)
#.drop arguments(labels, axis)

                          City Country  Employees  ID         Name       State
Address
3666 21st St     San Francisco     USA          8   1      Madeira    CA 94114
735 Dolores St   San Francisco     USA         15   2  Bready Shop    CA 94119
3995 23rd St     San Francisco     USA         10   4   Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5      Sanchez  California
551 Alvarado St  San Francisco     USA         20   6   Richvalley    CA 94114

In [27]:
df8.drop(df8.columns[0:3],1) 
#delete list of columns

                 ID         Name             State
Address
3666 21st St      1      Madeira          CA 94114
735 Dolores St    2  Bready Shop          CA 94119
332 Hill St       3  Super River  California 94114
3995 23rd St      4   Ben's Shop          CA 94114
1056 Sanchez St   5      Sanchez        California
551 Alvarado St   6   Richvalley          CA 94114

In [29]:
len(df8.index)

6

In [34]:
#adding a new column
df8['Continent']=df8.shape[0]*['North America']
df8

,City,Country,Employees,ID,Name,State,Continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America

In [39]:
#updating a column
df8['Continent']=df8['Country']+', '+'North America'
df8

,City,Country,Employees,ID,Name,State,Continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, North America"
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America"
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America"
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, North America"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America"

In [41]:
df8_t=df8.T
#transposes dataframe
df8_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
Country,USA,USA,USA,USA,USA,USA
Employees,8,15,25,10,12,20
ID,1,2,3,4,5,6
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Continent,"USA, North America","USA, North America","USA, North America","USA, North America","USA, North America","USA, North America"

In [44]:
#adding new row using transpose, it's the only one method possible at this time
#if the column is not recognized, the new will be added
#if column is recognized, the observations will be modified
df8_t['My Address']=['My City','My country',10,7,'My shop','My Statye','My Continent']
df8_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,My Address
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,My City
Country,USA,USA,USA,USA,USA,USA,My country
Employees,8,15,25,10,12,20,10
ID,1,2,3,4,5,6,7
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,My shop
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,My Statye
Continent,"USA, North America","USA, North America","USA, North America","USA, North America","USA, North America","USA, North America",My Continent

In [52]:
df8=df8_t.T
df8

,City,Country,Employees,ID,Name,State,Continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, North America"
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America"
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America"
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, North America"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America"
My Address,My City,My country,10,7,My shop,My Statye,My Continent

### s9l60 - Geocoding Addresses with Pandas

In [58]:
import geopy
from geopy.geocoders import Nominatim
nom=Nominatim()

In [69]:
#if addres doesn't exitst, function will return None
n=nom.geocode('3995 23rd St, San Francisco, CA 94114')
#geocoding methods
n.latitude, n.longitude

(37.7529648, -122.431714)

#### geocoding data from columns

In [86]:
import pandas
df=pandas.read_csv('supermarkets.csv')
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [87]:
df['Address']=df['Address']+', '+df['City']+', '+df['State']+', '+df['Country']
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [89]:
#apply method - thanks to it you don't need to iterate through the observations
df['Coordinates']=df['Address'].apply(Nominatim().geocode)
df.Coordinates

0    (3666, 21st Street, Noe Valley, SF, California...
1                                                 None
2    (332, Hill Street, Noe Valley, SF, California,...
3    (3995, 23rd Street, Noe Valley, SF, California...
4    (1056, Sanchez Street, Noe Valley, SF, Califor...
5    (551, Alvarado Street, Noe Valley, SF, Califor...
Name: Coordinates, dtype: object

In [92]:
df.Coordinates[0].latitude

37.756488877551

In [97]:
#lambda is required for working with functions using .apply() mehtod
#if there is a None value, method will throw an error, conditional required
df['Latitude']=df['Coordinates'].apply(lambda x: x.latitude if x != None else None) #there must be more elegant way to deal with Nones
df['Longitude']=df['Coordinates'].apply(lambda x: x.longitude if x != None else None) #there must be more elegant way to deal with Nones
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,None,NaN,NaN
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220

# s10 Numpy
In this section we will recognize faces in the images and recognize moving objects in the videos
## s10l61 What is Numpy
According to documentation NumPy is the fundamental package for scientific computing with Python http://www.numpy.org/

### Images
Computers use numbers for encoding images, picture build with 3x4 pixels can be represented with 2d array object

In [15]:
import numpy
# creating 1d array
n=numpy.arange(27)
n

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26])

In [8]:
type(n)

numpy.ndarray

In [10]:
print(n)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26]

In [28]:
#2d array
n.reshape(3,9)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23, 24, 25, 26]])

In [29]:
#3d array
n.reshape(3,3,3)

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [30]:
a=[[123,12,123,12,33],[],[]]
a

[[123, 12, 123, 12, 33], [], []]

In [18]:
m=numpy.asarray([[123,12,123,12,33],[],[]])
m

array([[123, 12, 123, 12, 33], [], []], dtype=object)

As shown below, instances of different types look the same, but a is a list, and m is a numpy.ndarray.
List can be changed into numpy.ndarray

In [27]:
type(a), type(m)

(list, numpy.ndarray)

## s10l63 Images to Numpy and V/V

In [33]:
#importing opnecv package
import cv2

We import in grey scale, because bgr requires 3 layers - one for intensifity of each color

In [34]:
# 0 - greyscale
# 1 - bgr
# importing image
im_g=cv2.imread('smallgray.png',0)
im_g

array([[187, 158, 104, 121, 143],
       [198, 125, 255, 255, 147],
       [209, 134, 255,  97, 182]], dtype=uint8)

In [37]:
# importing in color
# blue, green, red 2d arrays
im_c=cv2.imread('smallgray.png',1)
print(im_c)

[[[187 187 187]
  [158 158 158]
  [104 104 104]
  [121 121 121]
  [143 143 143]]

 [[198 198 198]
  [125 125 125]
  [255 255 255]
  [255 255 255]
  [147 147 147]]

 [[209 209 209]
  [134 134 134]
  [255 255 255]
  [ 97  97  97]
  [182 182 182]]]

In [39]:
#writes greyscale picture
cv2.imwrite('newsmallgray.png',im_g)

True

## s10l64 Indexing, Slicing and Iterating

In [42]:
#first 2 rows, 3rd and 4th column
im_g[0:2,2:4]

array([[104, 121],
       [255, 255]], dtype=uint8)

In [44]:
#size of array
im_g.shape

(3, 5)

In [46]:
#iterating through rows
for i in im_g:
    print(i)

[187 158 104 121 143]
[198 125 255 255 147]
[209 134 255  97 182]

In [48]:
#iterating through columns
for i in im_g.T:
    print(i)

[187 198 209]
[158 125 134]
[104 255 255]
[121 255  97]
[143 147 182]

In [54]:
#iterating through all elements
for i in im_g.flat:
    print(i)

187
158
104
121
143
198
125
255
255
147
209
134
255
97
182

## s10l65 Stacking and Splitting

In [55]:
im_g

array([[187, 158, 104, 121, 143],
       [198, 125, 255, 255, 147],
       [209, 134, 255,  97, 182]], dtype=uint8)